<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>lehto</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="js/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="js/leaflet/leaflet.css"/>
  <style>.col { width: 33%; float:left; }
  #map { height: 180px;}
  .highlight { background-color: #966;}
  </style>
  <script>
    $(function(){

     var map = L.map('map').setView([25.505, -80], 1);

     L.tileLayer('http://{s}.tile.cloudmade.com/8ee2a50541944fb9bcedded5165f09d9/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
    }).addTo(map);

    })
    var app = angular.module("app", []);

    app.service('CountryService', function($q, $http){
      return {
        getCountries: function() {
          var d = $q.defer();
          $http.get('countries.json').then(function(data) {
            d.resolve(data);
          });
          return d.promise;
        }
      }
    });

    app.service('ArtistService', function($q, $http){
      return {
        getArtists: function(cc) {
          var d = $q.defer();
          $http.get('country/'+cc).then(function(data) {
            d.resolve(data);
          });
          return d.promise;
        },
        getSimiliar: function(artist){
          var d = $q.defer();
          $http.get('similiar/'+artist).then(function(data) {
            d.resolve(data);
          });
          return d.promise;
        },
        getShows: function(artist){
          var d = $q.defer();
          $http.get('shows/'+artist).then(function(data) {
            d.resolve(data);
          });
          return d.promise;
        }
      }
    })

    app.controller('LehtoControl', function( $scope, CountryService, ArtistService ){
      CountryService.getCountries().then( function(data) {
        $scope.countries = _.sortBy(data.data, ['population'] ).reverse();
      });

      $scope.findArtists = function(cc){
        ArtistService.getArtists(cc).then( function(data) {
        $scope.artists = data.data;
      });

      $scope.findEvents = function(artist){
        ArtistService.getShows(artist).then( function(data){
          $scope.shows = data.data;
        })
      }
      }
    });
  </script>
</head>
<body ng-controller="LehtoControl">
  <div class="col">
    <div ng-repeat="c in countries" ng-click="findArtists(c.cca2)">{{ c.name }}</div>
  </div>
  <div class="col">
    <div ng-repeat="a in artists" ng-click="findEvents(a);addSimiliar(a);highlight = true" ng-class="{highlight: highlight}">{{ a }}</div>
  </div>
  <div class="col">
    <div ng-show='shows' id="map"></div>
    <div ng-repeat="s in shows">{{s.city}}, {{s.country}}</div>
  </div>
</body>
</html>
